.soccer-football-team-header {
    display: grid;
    grid-template-columns: 3fr 20fr 1fr;
    grid-auto-rows: 100px;
    border: 2px solid black;
    margin: 5px 10px;
    border-radius: 10px;
    background-color: orange;

    img {
        height: 90%;
        width: 90%;
        margin: 5px;
        border: 2px solid blue;
        border-radius: 10px;
    }

    h1 {
        font-size: 50px;
        font-family: Arial;
        font-style: normal;
        font-weight: 700;
        margin: 5px;
        padding: 10px;
        height: 90%;
        color: darkblue;
        border-radius: 10px;
        border: 2px solid black;
        background-color: honeydew;
    }
}


.soccer-football-team-header > div > button {
    height: 25%;
    width: 85%;
    border-radius: 10px;
    border: 2px solid blue;
    margin: 5px;
    background-color: greenyellow;
}

.soccer-football-team-header > div > button:nth-last-child(1) {
    height: 20%;
    width: 85%;
    font-weight: 700;
    border: 0.5px solid blue;
    background-color: pink;
}

.soccer-football-team-header > div > button:disabled {
    background-color: yellowgreen;
}