.body-container{
    width: 100%;
    height: 100%;
    background-color: yellow;
    border: solid 2px green;
}

.body-container{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}

