.card-body-container{
    width: 100%;
    height: 95%;
    margin-top: 2%;
    background-color: yellow;
    border: solid 2px yellow;
}

.card-header-plate{
    height: 15%;
}

.card-plate{
    height: 70%;
}

.card-footer-plate{
    height: 15%;
}
