.flag-image {
    height: 20px;
    width: 30px;
}

.fifa-world-ranking-table{
    width: 100%;
}

.fifa-world-ranking-table > thead > tr {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 30px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: orange;
}

.fifa-world-ranking-table > tbody > tr {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
     grid-template-rows: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: honeydew;
}

.fifa-world-ranking-table > thead > tr > th {
    border: 1px solid green;
    text-align: center;
}

.fifa-world-ranking-table > tbody > tr > td {
     border: 1px solid orange;
    text-align: center;
}

.country-name-header{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
    border: 2px solid blue;
}

.fifa-country-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 2px solid blue;
}

.country-name-header {
    display: grid;
    grid-template-columns: 20fr 1fr;
    background-color: yellow;
    border-radius: 10px;
}

.country-name-header > h1 {
    font-size: 50px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin: 5px;
    padding: 10px;
    height: 90%;
    color: darkblue;
    border-radius: 10px;
    border: 2px solid black;
    background-color: lightblue;
}

.country-name-header > div > button {
    margin: 5px;
    padding: 10px;
    height: 40%;
    color: darkblue;
    border-radius: 10px;
    border: 2px solid black;
    background-color: greenyellow;
}

.fifa-country-card > div {
    height: 500px;
    border: 2px solid blue;
}

.fifa-country-image {
    background-color: papayawhip;
    border-radius: 10px;
    margin: 5px;
}

.fifa-country-image > img {
    height: 50%;
    width: 90%;
    margin: 5%;
    border: 2px solid blue;
    border-radius: 10px;
}


.fifa-points {
    border: 2px solid blue;
    text-align: center;
    border-radius: 10px;
    margin: 5%;
    font-size: 20px;
    font-weight: 700;
    background-color: green;
}

.fifa-points > h2 {
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin: 5% 10%;
}

.fifa-points > h1 {
    border: 2px solid blue;
    text-align: center;
    margin: 5% 10%;
    color: yellow;
    border-radius: 10px;
    font-size: 60px;
    font-weight: 700;
    background-color: purple;
}

.fifa-country-rank-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 5px;
    border-radius: 10px;
    background-color: lightcyan;
}

.fifa-country-rank-details > div {
   border: 2px solid black;
   margin: 2%;
   border-radius: 10px;
   background-color: lightsalmon;
}

.fifa-country-rank-details > div > h1{
   margin: 5% 10%;
   padding: 5% 10%;
   border: 2px solid black;
   font-size: 80px;
   font-weight: 700;
   text-align: center;
   border-radius: 10px;
   background-color: yellow;
}

.fifa-country-rank-details > div > h2{
   text-align: center;
   border-radius: 10px;
}

.fifa-country-rank-details > div > h1 > div {
    border: 2px solid red;
    background-color: mediumspringgreen;
    border-radius: 50%;
}