.App{
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: honeydew;
  border: 2px solid blue;
}

.App-header{
  border: 5px solid green;
  border-radius: 5px;
 }

 .App-name{
   font-size: 40px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
 }

 .moving-subheader{
   color: blue;
 }

 .moving-subheader:hover {
  color: white;
  background-color: orange;
}